.text-help {
  color: red;
}

.title {
  margin-top: 20px;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: greenyellow;
}

.author {
  font-weight: bold;
  color: darkgreen;
}

.tweet {
  color: #0000fe;
}

.createdAt {
  color: deepskyblue;
}